**Import libraries that will be used.**

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import pickle
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_colwidth', 100)

**Connect to the database and import the four tables back into dataframes.**

In [2]:
conn = sqlite3.connect('recommendation.db')

In [3]:
def create_df(table):
    sql_query = 'SELECT * FROM {}'.format(table)
    dataframe = pd.read_sql(sql_query, conn)
    
    return dataframe

In [4]:
customers_df = create_df('customers')
customers_df.head()

,Customers.id,Customers.fname,Customers.lname,Customers.company,Customers.create_date,Customers.status,Customers.mailing,Customers.reminders,Customers.tax_exempt,Customers.account_id,Customers.sales_rep,Customers.rewards,Customers.profile_id,Customers.last_modified,Customers.customer_type
0,797,Christy,Dill,Company0,1426018724,NaN,NaN,None,NaN,NaN,None,None,None,1437764306,0.0
1,3,John,Smith,Company1,1386089139,NaN,NaN,None,NaN,NaN,None,None,None,1437764354,0.0
2,3,John,Smith,Company1,1386089139,NaN,NaN,None,NaN,NaN,None,None,None,1437764354,0.0
3,4,James,Anderson,None,1386780263,NaN,NaN,None,NaN,NaN,None,None,None,1437762646,0.0
4,5,Abraham,Pollak,Company3,1386861599,0.0,0.0,None,NaN,NaN,None,None,None,1437764316,0.0

In [5]:
orders_df = create_df('orders')
orders_df.head()

,Orders.id,Orders.customer_id,Orders.fname,Orders.lname,Orders.company,Orders.order_number,Orders.reorder_id,Orders.external_source,Orders.external_id,Orders.currency,Orders.sales_rep,Orders.subtotal,Orders.tax,Orders.shipping,Orders.coupon_id,Orders.coupon_amount,Orders.gift_id,Orders.gift_amount,Orders.fee_name,Orders.fee_amount,Orders.discount_name,Orders.discount_amount,Orders.total,Orders.balance_due,Orders.shipping_carrier,Orders.shipping_method,Orders.shipping_trans,Orders.shipping_flags,Orders.weight,Orders.tracking,Orders.payment_status,Orders.payment_date,Orders.payment_user,Orders.payment_type,Orders.payment_method,Orders.payment_amount,Orders.purchase_order,Orders.payment_id,Orders.payment_code,Orders.payment_ref,Orders.status,Orders.placed_date,Orders.updated_date,Orders.shipped_date,Orders.comments,Orders.notes,Orders.registry_id,Orders.gift_message,Orders.website,Orders.mailing,Orders.flags,Orders.partial_ship,Orders.customer_type
0,3758,797,Christy,Dill,Company0,3758,NaN,None,NaN,USD,None,57.20,0.0,9.95,13.0,2.86,None,None,None,NaN,None,NaN,64.29,NaN,fedex,11|Ground,None,None,NaN,5.7204E+14,3.0,1.426019e+09,None,authorize.net,None,64.29,None,6993607863,510142,None,1,1426019099,1.438868e+09,1.426101e+09,None,Insured By Eye4Fraud,None,None,None,None,NaN,NaN,0.0
1,23,3,John,Smith,Company1,23,NaN,None,NaN,USD,None,20.00,NaN,9.99,NaN,NaN,None,None,None,NaN,None,NaN,29.99,NaN,fedex,11|Ground,None,None,NaN,1.28597E+14,3.0,1.386090e+09,None,authorize.net,None,29.99,None,0,0,None,1,1386090455,1.440529e+09,1.386103e+09,None,None,None,None,None,None,NaN,NaN,0.0
2,9531,3,John,Smith,Company1,9531,NaN,None,NaN,USD,None,68.78,0.0,9.95,NaN,NaN,None,None,None,NaN,None,NaN,78.73,NaN,manual,0|Standard Shipping,None,None,NaN,None,3.0,1.449604e+09,genlee166,authorize.net,None,78.73,None,0,0,None,3,1449603652,1.450213e+09,NaN,test order,Test,None,None,None,None,NaN,NaN,0.0
3,29,4,James,Anderson,None,29,NaN,Ebay,NaN,USD,None,19.56,0.0,9.95,NaN,NaN,None,None,None,0.04,None,NaN,29.55,NaN,None,11|Ground,None,None,NaN,7.96468E+14,3.0,1.386780e+09,None,None,Credit Card,29.55,None,None,None,None,1,1386780263,1.440529e+09,1.386800e+09,ebay order\rpaid by pay pal,None,None,None,None,None,NaN,NaN,0.0
4,30,5,Abraham,Pollak,Company3,30,NaN,None,NaN,USD,None,36.05,NaN,9.95,NaN,NaN,None,None,None,NaN,None,NaN,46.00,NaN,fedex,11|Ground,None,None,NaN,6.87398E+14,3.0,1.386862e+09,None,None,Credit Card,46.00,None,None,None,None,1,1386861599,1.440529e+09,1.386876e+09,None,None,None,None,None,None,NaN,NaN,0.0

In [6]:
order_items_df = create_df('order_items')
order_items_df.head()

,Order_Items.id,Order_Items.parent,Order_Items.product_id,Order_Items.product_name,Order_Items.attributes,Order_Items.attribute_names,Order_Items.attribute_prices,Order_Items.qty,Order_Items.price,Order_Items.cost,Order_Items.registry_item,Order_Items.related_id,Order_Items.reorder_frequency,Order_Items.account_id,Order_Items.flags
0,5284,3758,2310.0,"Basic Rollators, Green",None,None,None,1,57.20,44.00,None,None,NaN,None,NaN
1,31,23,177.0,"Urinary Drain Bags,0.000",None,None,None,4,5.00,1.87,None,None,NaN,None,2.0
2,11655,9531,1.0,"SensiCare Nitrile Exam Gloves, Blue, XX-Large",None,None,None,1,68.78,52.50,None,None,NaN,None,NaN
3,1816,29,983.0,Basket for 2-Button Walkers,None,None,None,1,19.56,12.62,None,None,NaN,None,NaN
4,40,30,991.0,Tens Units,None,None,None,1,36.05,25.75,None,None,NaN,None,NaN

In [7]:
products_df = create_df('products')
products_df.head()

,Products.id,Products.status,Products.product_type,Products.template,Products.vendor,Products.import_id,Products.name,Products.display_name,Products.menu_name,Products.list_price,Products.price,Products.sale_price,Products.cost,Products.flags,Products.left_flag,Products.right_flag,Products.last_modified,Products.taxable,Products.shopping_gtin,Products.shopping_brand,Products.shopping_mpn,Products.shopping_gender,Products.shopping_color,Products.shopping_age,Products.shopping_flags,Products.amazon_asin,Products.amazon_type,Products.amazon_item_type,Products.amazon_price,Products.google_shopping_id,Products.google_shopping_type,Products.google_shopping_cat,Products.google_adwords,Products.shopping_cat,Products.shopping_type,Products.pricegrabber_cat,Products.shopzilla_cat,Products.thefind_cat,Products.quickbooks_id,Products.qb_edit_sequence,Products.price_break_type,Products.price_breaks,Products.short_description,Products.long_description,Products.websites,Products.video,Products.audio,Products.seo_title,Products.seo_description,Products.seo_keywords,Products.seo_header,Products.seo_footer,Products.seo_url,Products.seo_category,Products.unit,Products.packaging,Products.display_packaging,Products.multiple,Products.length,Products.width,Products.height,Products.rx,Products.latex,Products.upc,Products.msds_link,Products.msds_label,Products.lit_link,Products.lit_label,Products.hcpcs,Products.case_qty,Products.markup,Products.override_markup,Products.notes,Products.import_flags,Products.map_price,Products.features_title,Products.warranty,Products.hygienic,Products.default_quantity,Products.user_size,Products.assembly,Products.installation,Products.shipping_length,Products.shipping_width,Products.shipping_height,Products.shipping_weight,Products.handling_time,Products.rotation_link,Products.google_shopping_label,Products.product_option,Products.size,Products.material,Products.arm_style,Products.leg_style,Products.seat_size,Products.family_id,Products.saved_status,Products.freight_cost
0,2310.0,0.0,None,sub-product-detail.html,1.0,3.0,"Basic Steel Rollators,Green","Basic Lightweight Rollators For Adults, With Seat, Green, 6"" Wheels, Foldable, ONLY 14 LBS",None,80.70,57.64,NaN,44.00,0.0,NaN,None,1.463163e+09,1.0,1.088440e+13,MEDLINE,MDS86850EGS,None,Green,None,62.0,B00I6GQE0A,None,health-care-products,NaN,generic/online%3Aen%3AUS%3A2310,"Walking Aids > Rollators, & Walkers > Rollators",Health & Beauty > Health Care,None,NaN,None,None,NaN,None,8000064C-1434298761,1.450325e+09,None,None,"ROLLATOR,BASIC,STEEL,6"",GREEN","<ul><li> Classically designed, value priced</li><li> Constructed of a durable powder-coated st...",None,None,None,"Basic Lightweight Rollators For Adults, With Seat, Green, 6"" Wheels, Foldable, ONLY 14 LBS | MED...",None,None,None,None,Basic-Rollators-For-Adults-With-Seat-Green-6-Wheels-Foldable,0.0,EA,1 Each / Each,None,1 EA,NaN,NaN,NaN,None,None,NaN,None,None,None,None,E0149 +E0156,1.0,None,0.0,None,136.0,NaN,None,None,0.0,None,None,None,None,24.80,7.50,30.40,NaN,None,None,NaN,None,None,None,None,None,None,PF61071,0.0,None
1,177.0,1.0,None,sub-product-detail.html,1.0,3.0,Urinary Drain Bags,Urinary Drain Bags,None,14.41,10.29,5.0,1.87,65.0,NaN,None,1.462370e+09,1.0,1.008020e+13,MEDLINE,DYNC1674H,None,None,None,62.0,B000QF7Y76,None,health-care-products,NaN,None,"Incontinence, Urology & Ostomy > Urology > Drainage Bags",Health & Beauty > Health Care,None,199.0,Miscellaneous,Health & Beauty > Medical Supplies > Medical Aids,22005.0,Health & Beauty > Medical Supplies > Medical Aids,80008C35-1438901283,1.450322e+09,None,None,"BAG,DRAINAGE,UROLOGY,2000ML,ANTI REFLUX",<ul><li> Only Medline drain bags have a slide tap for easy one-handed drainage</li><li> All dr...,None,None,None,Urinary Drain Bags | MEDLINE - DYNC1674H,None,None,None,None,Urinary-Drain-Bags0000,0.0,EA,1 Each / Each,None,1 EA,NaN,NaN,NaN,Rx,Yes,NaN,None,None,https://medline360.medline.com:443/irj/servlet/prt/portal/prtroot/pcd!3aportal_content!2fmedline...,508f2d75-582e-2e10-2eab-d83980a9b1d0,A4357,1.0,None,0.0,OFF sale cause it is an RX item,0.0,NaN,None,None,0.0,None,None,None,None,8.00,7.00,1.50,NaN,None,None,NaN,None,None,None,None,None,None,PF02132,NaN,None
2,1.0,0.0,None,sub-product-detail.html,1.0,3.0,"SensiCare Nitrile Exam Gloves,Blue,XX-Large","SensiCare Nitrile Exam Gloves, Blue, XX-Large",None,96.29,68.78,NaN,52.50,32896.0,NaN,None,1.463163e+09,1.0,4.008020e+13,MEDLINE,484805,None,Blue,None,62.0,B002209AOI,None,health-care-products,NaN,generic/online%3Aen%3AUS%3A1,Apparel > Gloves > Nonsterile PF LF Synthetic Exam Gloves > SensiCare,Health & Beauty > Health Care,None,199.0,Miscellaneous,Health & Beauty > Medical Supplies > Medical Aids,22005.0,Health & Beauty > Medical Supplies > Medical Aids,800087BB-1438898332,1.450321e+09,None,None,"GLOVE,EXAM,NITRILE,BLUE,FINGRTIP,TXT,XXL",<ul><li> SensiCare&reg; nitrile exam gloves feature dependable strength and chemical resistance....,None,None,None,"Nitrile Exam Gloves, Blue, XX-Large | MEDLINE - 484805",None,None,None,None,SensiCare-Nitrile-Exam-GlovesBlueXX-Large,0.0,CS,800 Each / Case,None,1 CS,NaN,NaN,NaN,None,None,NaN,None,None,None,None,NO GOVERNMENT OR SUPPLIER HCPCS CODE VERIFICATION,800.0,None,0.0,None,NaN,NaN,None,None,NaN,None,None,None,None,13.23,10.04,10.24,NaN,None,None,NaN,None,2 x Extra large,Nitrile,None,None,None,PF00342,0.0,None
3,983.0,0.0,None,sub-product-detail.html,1.0,3.0,Basket for 2-Button Walkers,Basket for 2-Button Walkers,None,27.38,19.56,NaN,12.62,0.0,NaN,None,1.462595e+09,1.0,NaN,MEDLINE,MDS86615KH,None,None,None,62.0,B00083DG00,None,health-care-products,NaN,None,"Walking Aids > Rollators, & Walkers > Walkers Parts & Accessories",Health & Beauty > Health Care,None,199.0,Miscellaneous,Health & Beauty > Medical Supplies > Medical Aids,22005.0,Health & Beauty > Medical Supplies > Medical Aids,8000065E-1434298780,1.450323e+09,None,None,"BASKET,WALKER,FOR 2 BUTTON WALK","<ul><li> This wire basket attaches to almost any walker. </li><li> Measures 5-1/2"" x 16"" x 7"". ...",None,None,None,Basket for 2-Button Walkers | MEDLINE - MDS86615KH,None,None,None,None,Basket-for-2-Button-Walkers-2,0.0,EA,1 Each / Each,None,1 EA,NaN,NaN,NaN,None,Yes,8.019675e+10,None,None,None,None,A9270,1.0,None,0.0,None,NaN,NaN,None,None,NaN,None,None,None,None,10.60,7.80,18.50,NaN,None,None,NaN,None,None,None,None,None,None,PF04970,NaN,None
4,991.0,1.0,None,sub-product-detail.html,1.0,3.0,TENS 3000 Analog Unit,TENS 3000 Analog Unit,None,50.47,36.05,NaN,25.75,0.0,NaN,None,1.462370e+09,1.0,NaN,ROSCOE MEDICAL INC,MDS86710,None,None,None,62.0,None,None,health-care-products,NaN,None,Physical Therapy > Electronic Muscle Stimulation,Health & Beauty > Health Care,None,199.0,Miscellaneous,Health & Beauty > Medical Supplies > Medical Aids,22005.0,Health & Beauty > Medical Supplies > Medical Aids,80008B12-1438900627,1.450323e+09,None,None,"DEVICE,TENS UNIT,TENS 1000,DUAL CH","<ul><li> The TENS 3000<sup>TM</sup> analog unit uses a microprocessor, which gives exact dial pe...",None,None,None,TENS 3000 Analog Unit | ROSCOE MEDICAL INC - MDS86710,None,None,None,None,Tens-Units,0.0,EA,1 Each / Each,None,1 EA,NaN,NaN,NaN,Rx,None,NaN,None,None,None,None,E0730,1.0,None,0.0,OFF sale cause it is an RX item,NaN,NaN,None,None,NaN,None,None,None,None,8.50,2.75,12.00,NaN,None,None,NaN,None,None,None,None,None,None,PF03045,NaN,None

In [8]:
conn.close()

In [9]:
df = pd.concat([customers_df, orders_df, order_items_df, products_df], axis = 1)
df.head()

,Customers.id,Customers.fname,Customers.lname,Customers.company,Customers.create_date,Customers.status,Customers.mailing,Customers.reminders,Customers.tax_exempt,Customers.account_id,Customers.sales_rep,Customers.rewards,Customers.profile_id,Customers.last_modified,Customers.customer_type,Orders.id,Orders.customer_id,Orders.fname,Orders.lname,Orders.company,Orders.order_number,Orders.reorder_id,Orders.external_source,Orders.external_id,Orders.currency,Orders.sales_rep,Orders.subtotal,Orders.tax,Orders.shipping,Orders.coupon_id,Orders.coupon_amount,Orders.gift_id,Orders.gift_amount,Orders.fee_name,Orders.fee_amount,Orders.discount_name,Orders.discount_amount,Orders.total,Orders.balance_due,Orders.shipping_carrier,Orders.shipping_method,Orders.shipping_trans,Orders.shipping_flags,Orders.weight,Orders.tracking,Orders.payment_status,Orders.payment_date,Orders.payment_user,Orders.payment_type,Orders.payment_method,Orders.payment_amount,Orders.purchase_order,Orders.payment_id,Orders.payment_code,Orders.payment_ref,Orders.status,Orders.placed_date,Orders.updated_date,Orders.shipped_date,Orders.comments,Orders.notes,Orders.registry_id,Orders.gift_message,Orders.website,Orders.mailing,Orders.flags,Orders.partial_ship,Orders.customer_type,Order_Items.id,Order_Items.parent,Order_Items.product_id,Order_Items.product_name,Order_Items.attributes,Order_Items.attribute_names,Order_Items.attribute_prices,Order_Items.qty,Order_Items.price,Order_Items.cost,Order_Items.registry_item,Order_Items.related_id,Order_Items.reorder_frequency,Order_Items.account_id,Order_Items.flags,Products.id,Products.status,Products.product_type,Products.template,Products.vendor,Products.import_id,Products.name,Products.display_name,Products.menu_name,Products.list_price,Products.price,Products.sale_price,Products.cost,Products.flags,Products.left_flag,Products.right_flag,Products.last_modified,Products.taxable,Products.shopping_gtin,Products.shopping_brand,Products.shopping_mpn,Products.shopping_gender,Products.shopping_color,Products.shopping_age,Products.shopping_flags,Products.amazon_asin,Products.amazon_type,Products.amazon_item_type,Products.amazon_price,Products.google_shopping_id,Products.google_shopping_type,Products.google_shopping_cat,Products.google_adwords,Products.shopping_cat,Products.shopping_type,Products.pricegrabber_cat,Products.shopzilla_cat,Products.thefind_cat,Products.quickbooks_id,Products.qb_edit_sequence,Products.price_break_type,Products.price_breaks,Products.short_description,Products.long_description,Products.websites,Products.video,Products.audio,Products.seo_title,Products.seo_description,Products.seo_keywords,Products.seo_header,Products.seo_footer,Products.seo_url,Products.seo_category,Products.unit,Products.packaging,Products.display_packaging,Products.multiple,Products.length,Products.width,Products.height,Products.rx,Products.latex,Products.upc,Products.msds_link,Products.msds_label,Products.lit_link,Products.lit_label,Products.hcpcs,Products.case_qty,Products.markup,Products.override_markup,Products.notes,Products.import_flags,Products.map_price,Products.features_title,Products.warranty,Products.hygienic,Products.default_quantity,Products.user_size,Products.assembly,Products.installation,Products.shipping_length,Products.shipping_width,Products.shipping_height,Products.shipping_weight,Products.handling_time,Products.rotation_link,Products.google_shopping_label,Products.product_option,Products.size,Products.material,Products.arm_style,Products.leg_style,Products.seat_size,Products.family_id,Products.saved_status,Products.freight_cost
0,797,Christy,Dill,Company0,1426018724,NaN,NaN,None,NaN,NaN,None,None,None,1437764306,0.0,3758,797,Christy,Dill,Company0,3758,NaN,None,NaN,USD,None,57.20,0.0,9.95,13.0,2.86,None,None,None,NaN,None,NaN,64.29,NaN,fedex,11|Ground,None,None,NaN,5.7204E+14,3.0,1.426019e+09,None,authorize.net,None,64.29,None,6993607863,510142,None,1,1426019099,1.438868e+09,1.426101e+09,None,Insured By Eye4Fraud,None,None,None,None,NaN,NaN,0.0,5284,3758,2310.0,"Basic Rollators, Green",None,None,None,1,57.20,44.00,None,None,NaN,None,NaN,2310.0,0.0,None,sub-product-detail.html,1.0,3.0,"Basic Steel Rollators,Green","Basic Lightweight Rollators For Adults, With Seat, Green, 6"" Wheels, Foldable, ONLY 14 LBS",None,80.70,57.64,NaN,44.00,0.0,NaN,None,1.463163e+09,1.0,1.088440e+13,MEDLINE,MDS86850EGS,None,Green,None,62.0,B00I6GQE0A,None,health-care-products,NaN,generic/online%3Aen%3AUS%3A2310,"Walking Aids > Rollators, & Walkers > Rollators",Health & Beauty > Health Care,None,NaN,None,None,NaN,None,8000064C-1434298761,1.450325e+09,None,None,"ROLLATOR,BASIC,STEEL,6"",GREEN","<ul><li> Classically designed, value priced</li><li> Constructed of a durable powder-coated st...",None,None,None,"Basic Lightweight Rollators For Adults, With Seat, Green, 6"" Wheels, Foldable, ONLY 14 LBS | MED...",None,None,None,None,Basic-Rollators-For-Adults-With-Seat-Green-6-Wheels-Foldable,0.0,EA,1 Each / Each,None,1 EA,NaN,NaN,NaN,None,None,NaN,None,None,None,None,E0149 +E0156,1.0,None,0.0,None,136.0,NaN,None,None,0.0,None,None,None,None,24.80,7.50,30.40,NaN,None,None,NaN,None,None,None,None,None,None,PF61071,0.0,None
1,3,John,Smith,Company1,1386089139,NaN,NaN,None,NaN,NaN,None,None,None,1437764354,0.0,23,3,John,Smith,Company1,23,NaN,None,NaN,USD,None,20.00,NaN,9.99,NaN,NaN,None,None,None,NaN,None,NaN,29.99,NaN,fedex,11|Ground,None,None,NaN,1.28597E+14,3.0,1.386090e+09,None,authorize.net,None,29.99,None,0,0,None,1,1386090455,1.440529e+09,1.386103e+09,None,None,None,None,None,None,NaN,NaN,0.0,31,23,177.0,"Urinary Drain Bags,0.000",None,None,None,4,5.00,1.87,None,None,NaN,None,2.0,177.0,1.0,None,sub-product-detail.html,1.0,3.0,Urinary Drain Bags,Urinary Drain Bags,None,14.41,10.29,5.0,1.87,65.0,NaN,None,1.462370e+09,1.0,1.008020e+13,MEDLINE,DYNC1674H,None,None,None,62.0,B000QF7Y76,None,health-care-products,NaN,None,"Incontinence, Urology & Ostomy > Urology > Drainage Bags",Health & Beauty > Health Care,None,199.0,Miscellaneous,Health & Beauty > Medical Supplies > Medical Aids,22005.0,Health & Beauty > Medical Supplies > Medical Aids,80008C35-1438901283,1.450322e+09,None,None,"BAG,DRAINAGE,UROLOGY,2000ML,ANTI REFLUX",<ul><li> Only Medline drain bags have a slide tap for easy one-handed drainage</li><li> All dr...,None,None,None,Urinary Drain Bags | MEDLINE - DYNC1674H,None,None,None,None,Urinary-Drain-Bags0000,0.0,EA,1 Each / Each,None,1 EA,NaN,NaN,NaN,Rx,Yes,NaN,None,None,https://medline360.medline.com:443/irj/servlet/prt/portal/prtroot/pcd!3aportal_content!2fmedline...,508f2d75-582e-2e10-2eab-d83980a9b1d0,A4357,1.0,None,0.0,OFF sale cause it is an RX item,0.0,NaN,None,None,0.0,None,None,None,None,8.00,7.00,1.50,NaN,None,None,NaN,None,None,None,None,None,None,PF02132,NaN,None
2,3,John,Smith,Company1,1386089139,NaN,NaN,None,NaN,NaN,None,None,None,1437764354,0.0,9531,3,John,Smith,Company1,9531,NaN,None,NaN,USD,None,68.78,0.0,9.95,NaN,NaN,None,None,None,NaN,None,NaN,78.73,NaN,manual,0|Standard Shipping,None,None,NaN,None,3.0,1.449604e+09,genlee166,authorize.net,None,78.73,None,0,0,None,3,1449603652,1.450213e+09,NaN,test order,Test,None,None,None,None,NaN,NaN,0.0,11655,9531,1.0,"SensiCare Nitrile Exam Gloves, Blue, XX-Large",None,None,None,1,68.78,52.50,None,None,NaN,None,NaN,1.0,0.0,None,sub-product-detail.html,1.0,3.0,"SensiCare Nitrile Exam Gloves,Blue,XX-Large","SensiCare Nitrile Exam Gloves, Blue, XX-Large",None,96.29,68.78,NaN,52.50,32896.0,NaN,None,1.463163e+09,1.0,4.008020e+13,MEDLINE,484805,None,Blue,None,62.0,B002209AOI,None,health-care-products,NaN,generic/online%3Aen%3AUS%3A1,Apparel > Gloves > Nonsterile PF LF Synthetic Exam Gloves > SensiCare,Health & Beauty > Health Care,None,199.0,Miscellaneous,Health & Beauty > Medical Supplies > Medical Aids,22005.0,Health & Beauty > Medical Supplies > Medical Aids,800087BB-1438898332,1.450321e+09,None,None,"GLOVE,EXAM,NITRILE,BLUE,FINGRTIP,TXT,XXL",<ul><li> SensiCare&reg; nitrile exam gloves feature dependable strength and chemical resistance....,None,None,None,"Nitrile Exam Gloves, Blue, XX-Large | MEDLINE - 484805",None,None,None,None,SensiCare-Nitrile-Exam-GlovesBlueXX-Large,0.0,CS,800 Each / Case,None,1 CS,NaN,NaN,NaN,None,None,NaN,None,None,None,None,NO GOVERNMENT OR SUPPLIER HCPCS CODE VERIFICATION,800.0,None,0.0,None,NaN,NaN,None,None,NaN,None,None,None,None,13.23,10.04,10.24,NaN,None,None,NaN,None,2 x Extra large,Nitrile,None,None,None,PF00342,0.0,None
3,4,James,Anderson,None,1386780263,NaN,NaN,None,NaN,NaN,None,None,None,1437762646,0.0,29,4,James,Anderson,None,29,NaN,Ebay,NaN,USD,None,19.56,0.0,9.95,NaN,NaN,None,None,None,0.04,None,NaN,29.55,NaN,None,11|Ground,None,None,NaN,7.96468E+14,3.0,1.386780e+09,None,None,Credit Card,29.55,None,None,None,None,1,1386780263,1.440529e+09,1.386800e+09,ebay order\rpaid by pay pal,None,None,None,None,None,NaN,NaN,0.0,1816,29,983.0,Basket for 2-Button Walkers,None,None,None,1,19.56,12.62,None,None,NaN,None,NaN,983.0,0.0,None,sub-product-detail.html,1.0,3.0,Basket for 2-Button Walkers,Basket for 2-Button Walkers,None,27.38,19.56,NaN,12.62,0.0,NaN,None,1.462595e+09,1.0,NaN,MEDLINE,MDS86615KH,None,None,None,62.0,B00083DG00,None,health-care-products,NaN,None,"Walking Aids > Rollators, & Walkers > Walkers Parts & Accessories",Health & Beauty > Health Care,None,199.0,Miscellaneous,Health & Beauty > Medical Supplies > Medical Aids,22005.0,Health & Beauty > Medical Supplies > Medical Aids,8000065E-1434298780,1.450323e+09,None,None,"BASKET,WALKER,FOR 2 BUTTON WALK","<ul><li> This wire basket attaches to almost any walker. </li><li> Measures 5-1/2"" x 16"" x 7"". ...",None,None,None,Basket for 2-Button Walkers | MEDLINE - MDS86615KH,None,None,None,None,Basket-for-2-Button-Walkers-2,0.0,EA,1 Each / Each,None,1 EA,NaN,NaN,NaN,None,Yes,8.019675e+10,None,None,None,None,A9270,1.0,None,0.0,None,NaN,NaN,None,None,NaN,None,None,None,None,10.60,7.80,18.50,NaN,None,None,NaN,None,None,None,None,None,None,PF04970,NaN,None
4,5,Abraham,Pollak,Company3,1386861599,0.0,0.0,None,NaN,NaN,None,None,None,1437764316,0.0,30,5,Abraham,Pollak,Company3,30,NaN,None,NaN,USD,None,36.05,NaN,9.95,NaN,NaN,None,None,None,NaN,None,NaN,46.00,NaN,fedex,11|Ground,None,None,NaN,6.87398E+14,3.0,1.386862e+09,None,None,Credit Card,46.00,None,None,None,None,1,1386861599,1.440529e+09,1.386876e+09,None,None,None,None,None,None,NaN,NaN,0.0,40,30,991.0,Tens Units,None,None,None,1,36.05,25.75,None,None,NaN,None,NaN,991.0,1.0,None,sub-product-detail.html,1.0,3.0,TENS 3000 Analog Unit,TENS 3000 Analog Unit,None,50.47,36.05,NaN,25.75,0.0,NaN,None,1.462370e+09,1.0,NaN,ROSCOE MEDICAL INC,MDS86710,None,None,None,62.0,None,None,health-care-products,NaN,None,Physical Therapy > Electronic Muscle Stimulation,Health & Beauty > Health Care,None,199.0,Miscellaneous,Health & Beauty > Medical Supplies > Medical Aids,22005.0,Health & Beauty > Medical Supplies > Medical Aids,80008B12-1438900627,1.450323e+09,None,None,"DEVICE,TENS UNIT,TENS 1000,DUAL CH","<ul><li> The TENS 3000<sup>TM</sup> analog unit uses a microprocessor, which gives exact dial pe...",None,None,None,TENS 3000 Analog Unit | ROSCOE MEDICAL INC - MDS86710,None,None,None,None,Tens-Units,0.0,EA,1 Each / Each,None,1 EA,NaN,NaN,NaN,Rx,None,NaN,None,None,None,None,E0730,1.0,None,0.0,OFF sale cause it is an RX item,NaN,NaN,None,None,NaN,None,None,None,None,8.50,2.75,12.00,NaN,None,None,NaN,None,None,None,None,None,None,PF03045,NaN,None

**There are four columns regarding product info we can potentially use for the analysis.**
1. _**Order_Items.product_id**_
2. _**Order_Items.product_name**_
3. _**Products.id**_
4. _**Products.name**_

In [10]:
products = df[['Order_Items.product_id', 'Order_Items.product_name', 'Products.id','Products.name']]
products.head()

,Order_Items.product_id,Order_Items.product_name,Products.id,Products.name
0,2310.0,"Basic Rollators, Green",2310.0,"Basic Steel Rollators,Green"
1,177.0,"Urinary Drain Bags,0.000",177.0,Urinary Drain Bags
2,1.0,"SensiCare Nitrile Exam Gloves, Blue, XX-Large",1.0,"SensiCare Nitrile Exam Gloves,Blue,XX-Large"
3,983.0,Basket for 2-Button Walkers,983.0,Basket for 2-Button Walkers
4,991.0,Tens Units,991.0,TENS 3000 Analog Unit

In [11]:
products.isnull().sum()

Order_Items.product_id       43
Order_Items.product_name      0
Products.id                 157
Products.name               157
dtype: int64

**At first, column Order_Items.product_name seems to be a good column to use at first.**

In [12]:
max_num_unique = products['Order_Items.product_id'].nunique() - 1 + products['Order_Items.product_id'].isnull().sum()
print('Maximum number of unique values for column Order_Items.product_id: {}'.format(max_num_unique))

Maximum number of unique values for column Order_Items.product_id: 1795

In [13]:
num_unique_name = products['Order_Items.product_name'].nunique()
print('The number of unique values for column Order_Items.product_name: {}'.format(num_unique_name))

The number of unique values for column Order_Items.product_name: 1821

**There exists more than one product name going to the same product ID.**

In [14]:
counter = products.groupby('Order_Items.product_name').agg({'Order_Items.product_id': lambda x: x.nunique()})
counter.sort_values(by = 'Order_Items.product_id', ascending = False, inplace = True)
counter.head()

                                                            Order_Items.product_id
Order_Items.product_name
Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes                     7.0
Protection Plus Disposable Underpads                                           7.0
Protection Plus Disposable Underpads, Blue                                     6.0
Aloetouch Personal Cleansing Wipes                                             6.0
ReadyFlush Biodegradable Flushable Wipes                                       6.0

**Same product name going to different product ID**

In [15]:
product_name = counter.index[0]
products[products['Order_Items.product_name'] == product_name].head()

,Order_Items.product_id,Order_Items.product_name,Products.id,Products.name
13,1385.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,1385.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes
14,1385.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,1385.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes
24,1389.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,1389.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes
27,1384.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,1384.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes
28,1384.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,1384.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes

**Order_Items.product_name values are equal among different Order_Items.product_id**

In [16]:
products['Products.packaging'] = df['Products.packaging']
products[products['Order_Items.product_name'] == product_name].head()

,Order_Items.product_id,Order_Items.product_name,Products.id,Products.name,Products.packaging
13,1385.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,1385.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,12 Pack / Case
14,1385.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,1385.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,12 Pack / Case
24,1389.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,1389.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,576 Each / Case
27,1384.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,1384.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,64 Each / Pack
28,1384.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,1384.0,Aloetouch SELECT Premium Spunlace Personal Cleansing Wipes,64 Each / Pack

**Products.packaging values confirm the products are indeed different.**

In [17]:
print('Number of null values for column Products.packaging:', products['Products.packaging'].isnull().sum())

Number of null values for column Products.packaging: 1304

In [18]:
ray = products.loc[products['Products.packaging'].isnull(),'Order_Items.product_id'].dropna().values
null_package = products[products['Order_Items.product_id'].isin(ray)]
null_package.head()

,Order_Items.product_id,Order_Items.product_name,Products.id,Products.name,Products.packaging
5,310.0,"FitRight Ultra Protective Underwear, Large",NaN,None,None
6,799.0,"SensiCare Silk Nitrile Exam Gloves, Dark Blue, Small",NaN,None,None
15,2290.0,"Geo Mattress Max 80"" X 35""",NaN,None,None
16,2266.0,SureTemp Thermometer Probe Covers by Welch-Allyn,NaN,None,None
62,802.0,"SensiCare Silk Nitrile Exam Gloves, Dark Blue, Large",NaN,None,None

**Took all Order_Items.product_id values where the Products.packaging values are None.**

In [19]:
print('There are {} rows with package data.'.format(len(null_package[null_package['Products.packaging'].notnull()])))

There are 0 rows with package data.

**Confirmed the None values are not missing at random.**

**Column Order_Items.product_id and column Order_Items.product_name in conjunction with the values in Products.packaging will be used.**

**There are two columns that contain company info.**
1. _**Customers.company**_
2. _**Orders.company**_

In [20]:
def comparision(data,col1,col2):
    n = 0
    copy_data = data.copy()
    copy_data.dropna(inplace = True)
    copy_data.reset_index(drop = True, inplace = True)
    
    for i in range(len(copy_data)):
        if copy_data.loc[i,col1] != copy_data.loc[i,col2]:
            n +=1
        
    print('There are {} values that do not match.'.format(n))

In [21]:
comparision(products,'Order_Items.product_id','Products.id')

There are 0 values that do not match.

**With the exception of rows containing null values, all other values in the two columns are the same.**

In [22]:
company = df[['Customers.company','Orders.company']]
company.head()

  Customers.company Orders.company
0          Company0       Company0
1          Company1       Company1
2          Company1       Company1
3              None           None
4          Company3       Company3

In [23]:
def mismatch_df(data,col1,col2):
    list_of_indices = []
    for i in range(len(data)):
        if data.loc[i,col1] != data.loc[i,col2]:
            list_of_indices.append(i)
        
    return data.iloc[list_of_indices]

In [24]:
mismatch_df(company,'Customers.company','Orders.company')

     Customers.company                 Orders.company
141          Company17                           None
550          Company41  Goforth &amp; Assoc, Realtors
551          Company41  Goforth &amp; Assoc, Realtors
767               None                     bagel king
3124        Company303                           None
3320              None           Marian Family Dantel
3465              None          Statesboro Cardiology
3667        Company360      Bacharach Institute Rehab

**After reviewing the rows that do not match, column Customers.company will be used over Orders.company to make the values more uniform.**

In [25]:
nulls = company.loc[company['Customers.company'].isnull()]
nulls.dropna(subset = ['Orders.company'], inplace = True)

In [26]:
company_names = [comp for comp in nulls['Orders.company'].dropna() if not comp.startswith('Company')]
s = pd.Series(company_names, name = 'company')
s.groupby(s).count()

company
Marian Family Dantel     1
Statesboro Cardiology    1
bagel king               1
Name: company, dtype: int64

**The values expected to use to fill in the None values for Customers.company are unique.**

**There are two columns each that represent the price and cost of a product.**

In [27]:
print(df[['Products.price','Order_Items.price']].isnull().sum())
print('\n')
print(df[['Products.cost','Order_Items.cost']].isnull().sum())

Products.price       158
Order_Items.price      0
dtype: int64


Products.cost       157
Order_Items.cost      3
dtype: int64

**Since columns Order_Items.price and Order_Items.cost have less null values, these two columns will be used.**

**Create the dataframe needed for analysis and modeling.**

In [28]:
cols_to_keep = ['Order_Items.product_id',
                'Order_Items.product_name',
                'Products.packaging',
                'Customers.company',
                'Orders.company',
                'Orders.id',
                'Orders.total',
                'Order_Items.qty',
                'Order_Items.price',
                'Order_Items.cost',
                'Products.cost']

rec = df[cols_to_keep]
rec.head()

,Order_Items.product_id,Order_Items.product_name,Products.packaging,Customers.company,Orders.company,Orders.id,Orders.total,Order_Items.qty,Order_Items.price,Order_Items.cost,Products.cost
0,2310.0,"Basic Rollators, Green",1 Each / Each,Company0,Company0,3758,64.29,1,57.20,44.00,44.00
1,177.0,"Urinary Drain Bags,0.000",1 Each / Each,Company1,Company1,23,29.99,4,5.00,1.87,1.87
2,1.0,"SensiCare Nitrile Exam Gloves, Blue, XX-Large",800 Each / Case,Company1,Company1,9531,78.73,1,68.78,52.50,52.50
3,983.0,Basket for 2-Button Walkers,1 Each / Each,None,None,29,29.55,1,19.56,12.62,12.62
4,991.0,Tens Units,1 Each / Each,Company3,Company3,30,46.00,1,36.05,25.75,25.75

**Ensure columns are the correct data type.**

In [29]:
rec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4194 entries, 0 to 4193
Data columns (total 11 columns):
Order_Items.product_id      4151 non-null float64
Order_Items.product_name    4194 non-null object
Products.packaging          2890 non-null object
Customers.company           727 non-null object
Orders.company              728 non-null object
Orders.id                   4194 non-null int64
Orders.total                4194 non-null float64
Order_Items.qty             4194 non-null int64
Order_Items.price           4194 non-null float64
Order_Items.cost            4191 non-null float64
Products.cost               4037 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 360.5+ KB

**Review number of missing values.**

In [30]:
rec.isnull().sum()

Order_Items.product_id        43
Order_Items.product_name       0
Products.packaging          1304
Customers.company           3467
Orders.company              3466
Orders.id                      0
Orders.total                   0
Order_Items.qty                0
Order_Items.price              0
Order_Items.cost               3
Products.cost                157
dtype: int64

**Fill in null values in column Customers.company with the value under column Orders.company.**  
**Drop column Orders.company**

In [31]:
rec['Customers.company'].fillna(rec['Orders.company'],inplace = True)
rec.drop(columns = ['Orders.company'], axis = 1, inplace = True)

**Pull the rows that contain null values under column Order_Items.cost.**  
**Can use Products.cost to fill in 2 of the missing values.**

In [32]:
rec[rec['Order_Items.cost'].isnull()]

,Order_Items.product_id,Order_Items.product_name,Products.packaging,Customers.company,Orders.id,Orders.total,Order_Items.qty,Order_Items.price,Order_Items.cost,Products.cost
2373,148.0,"CURAD Powder-Free Latex-Free 3G Vinyl Exam Gloves, Large",1000 Each / Case,None,16674,191.16,2,47.82,NaN,34.65
4023,16476.0,"Inflatable Exercise Ball - Accessory - 6"" Hand Pump",None,None,16750,127.29,1,8.25,NaN,1.50
4050,NaN,"BUCKET, REPLACEMENT FOR MDS89668XW",None,None,16962,53.95,1,44.00,NaN,NaN

**Let's check if columns Order_Items.cost and Products.cost are similar.**

In [33]:
def find_error(data, col1, col2):
    reduced_df = data[[col1, col2]]
    reduced_df.dropna(axis = 0, inplace = True)
    
    summation = sum([(x - y) ** 2 for x,y in zip(reduced_df[col1], reduced_df[col2])])
    RMSE = np.sqrt(summation / len(reduced_df))
    
    return RMSE

In [34]:
find_error(rec,'Order_Items.cost','Products.cost')

8.991944226169474

In [35]:
rec.describe()

,Order_Items.product_id,Orders.id,Orders.total,Order_Items.qty,Order_Items.price,Order_Items.cost,Products.cost
count,4151.000000,4194.000000,4194.000000,4194.000000,4194.000000,4191.000000,4037.000000
mean,4451.426162,9142.984025,137.192818,1.858846,67.349132,51.112718,52.318192
std,5577.392427,5276.541078,222.898475,8.821959,95.571793,74.155515,74.691642
min,1.000000,23.000000,2.890000,1.000000,1.120000,0.280000,0.280000
25%,1009.000000,4258.000000,44.110000,1.000000,24.030000,16.200000,15.500000
50%,1867.000000,9641.000000,80.510000,1.000000,43.460000,32.500000,31.750000
75%,4345.500000,14011.750000,143.855000,1.000000,74.990000,59.500000,59.990000
max,26175.000000,17437.000000,4627.950000,500.000000,1899.000000,1350.000000,1350.000000

**Result: Small error between Order_Items.cost and Products.cost**

In [36]:
indices = rec[rec['Order_Items.cost'].isnull()].index
for i in indices:
    rec.loc[i,'Order_Items.cost'] = rec.loc[i,'Products.cost']

**Only one with the product name above. One purchase at a 44 dollar price won't affect results.**

In [37]:
rec['Order_Items.cost'].fillna(rec['Order_Items.price'], inplace = True)

**Drop column Products.cost as it is not needed anymore.**

In [38]:
rec.drop(columns = ['Products.cost'], axis = 1, inplace = True)

**Number of times a product name appears where id is null.**

In [39]:
def counter_df(data,col_id,col_name):
    list_of_names = list(data.loc[data[col_id].isnull(),col_name].values)
    counter_list = [len(data[data[col_name] == name]) for name in list_of_names]
        
    df_counter = pd.DataFrame({'product name': list_of_names, 'number of occurrences': counter_list})
    df_counter.sort_values(by = 'number of occurrences', ascending = False, inplace = True)
    
    return df_counter

In [40]:
counter_df(rec,'Order_Items.product_id','Order_Items.product_name').head()

                                       product name  number of occurrences
0   Drive medical excersize paddler item #RTL10273                       1
32                           MDTFS4M04N Flat Sheets                      1
24          Adjustable Height ArmRest AK5ADJARMKIT                       1
25                                        WCA808990                      1
26                              MMM15300Z 24 Eaches                      1

**All product names without a product ID is unique**

**Assigning new product IDs to the missing values under column Order_Items.product_id.**

In [41]:
max_id = int(max(rec['Order_Items.product_id']))
num_of_nulls = rec['Order_Items.product_id'].isnull().sum()
start_range = max_id + 1
end_range = start_range + num_of_nulls
new_prod_id = list(range(start_range, end_range, 1))

rec.loc[rec['Order_Items.product_id'].isnull(),'Order_Items.product_id'] = new_prod_id

**Remove spaces in column Products.packaging.**

In [42]:
rec['Products.packaging'].replace(' ', '', regex = True, inplace = True)

**For each row, concatenate strings under columns Order_Items.product_name and Products.packaging.**

In [43]:
con_list = []
for i in range(len(rec)):
    if rec.loc[i,'Products.packaging'] == None:
        con_list.append(rec.loc[i,'Order_Items.product_name'])
    else:
        con_list.append(rec.loc[i,'Order_Items.product_name'] + ' ' + rec.loc[i,'Products.packaging'])
rec['product name'] = con_list
rec.head()

,Order_Items.product_id,Order_Items.product_name,Products.packaging,Customers.company,Orders.id,Orders.total,Order_Items.qty,Order_Items.price,Order_Items.cost,product name
0,2310.0,"Basic Rollators, Green",1Each/Each,Company0,3758,64.29,1,57.20,44.00,"Basic Rollators, Green 1Each/Each"
1,177.0,"Urinary Drain Bags,0.000",1Each/Each,Company1,23,29.99,4,5.00,1.87,"Urinary Drain Bags,0.000 1Each/Each"
2,1.0,"SensiCare Nitrile Exam Gloves, Blue, XX-Large",800Each/Case,Company1,9531,78.73,1,68.78,52.50,"SensiCare Nitrile Exam Gloves, Blue, XX-Large 800Each/Case"
3,983.0,Basket for 2-Button Walkers,1Each/Each,None,29,29.55,1,19.56,12.62,Basket for 2-Button Walkers 1Each/Each
4,991.0,Tens Units,1Each/Each,Company3,30,46.00,1,36.05,25.75,Tens Units 1Each/Each

**Drop columns Order_Items.product_name and Products.packagaing as they are no longer needed.**

In [44]:
rec.drop(columns = ['Order_Items.product_name','Products.packaging'], axis = 1, inplace = True)

**Rename column names to make readability more appealing.**

In [45]:
rec.rename(columns = {'Order_Items.product_id' : 'product id',
                      'Customers.company': 'company',
                      'Orders.id' : 'order id',
                      'Orders.total' : 'order total',
                      'Order_Items.qty': 'quantity',
                      'Order_Items.price': 'price', 
                      'Order_Items.cost' : 'cost'}, inplace = True)

**Save dataframe into a pickle file. This dataframe will be used later to build an item-based recommender system.**

In [46]:
rec.to_pickle('rec.pkl')

**Pull the columns needed to find the most popular product.**

In [47]:
popular = rec[['product id','product name', 'quantity', 'price', 'cost']]
popular.head()

,product id,product name,quantity,price,cost
0,2310.0,"Basic Rollators, Green 1Each/Each",1,57.20,44.00
1,177.0,"Urinary Drain Bags,0.000 1Each/Each",4,5.00,1.87
2,1.0,"SensiCare Nitrile Exam Gloves, Blue, XX-Large 800Each/Case",1,68.78,52.50
3,983.0,Basket for 2-Button Walkers 1Each/Each,1,19.56,12.62
4,991.0,Tens Units 1Each/Each,1,36.05,25.75

**Most popular product is the one that brings in the highest profit.**

In [48]:
popular['profit_per_qty'] = [(price - cost) for price,cost in zip(popular['price'],popular['cost'])]
popular['profit'] = popular['profit_per_qty'] * popular['quantity']

In [49]:
popular_rec = popular.groupby('product id').agg({'product name': 'first', 'profit': 'sum'})
popular_rec.sort_values(by = 'profit',ascending = False, inplace = True)
popular_rec.rename(columns = {'profit': 'total profit'}, inplace = True)
popular_rec.head(5)

,product name,total profit
product id,,
1846.0,"Disposable Emergency Blanket, Gray, Not Applicable 10Each/Case",4253.04
2107.0,"MoliCare Disposable Super Plus Briefs, Medium/Large 56Each/Case",2295.94
911.0,"Aluminum Transport Chair with 12"" Wheels, Red 1Each/Case",1853.00
910.0,"Aluminum Transport Chair with 12"" Wheels, Blue 1Each/Case",1824.49
1672.0,"2-Ply Tissue/Poly Professional Towels, White, Not Applicable 500Each/Case",1724.80

**Five most popular product is shown above.**

**Pull the columns needed to find the companies with maximum purchase by quantity.**

In [50]:
company_quant = rec[['company','quantity']]
company_quant.head()

    company  quantity
0  Company0         1
1  Company1         4
2  Company1         1
3      None         1
4  Company3         1

In [51]:
company_quant_rec = company_quant.groupby('company').agg({'quantity': 'sum'})
company_quant_rec.sort_values(by = 'quantity', ascending = False, inplace = True)
company_quant_rec.rename(columns = {'quantity': 'total quantity'}, inplace = True)
company_quant_rec.head(5)

            total quantity
company
Company59              381
Company343             133
Company86              105
Company130              71
Company159              47

**Top five companies with maximum purchase by quantity is shown above.**

**Pull the columns needed to find the companies with maximum purchase by amount.**

In [52]:
company_amount = rec[['company','order id','order total']]
company_amount.head()

    company  order id  order total
0  Company0      3758        64.29
1  Company1        23        29.99
2  Company1      9531        78.73
3      None        29        29.55
4  Company3        30        46.00

**There are duplicates. Make sure to drop duplicates to prevent incorrect output.**

In [53]:
print('Number of rows before duplicates are dropped: {}.'.format(len(company_amount)))

company_amount.drop_duplicates(inplace = True)
print('Number of rows after duplicates are dropped: {}.'.format(len(company_amount)))

Number of rows before duplicates are dropped: 4194.
Number of rows after duplicates are dropped: 3565.

In [54]:
company_amount_rec = company_amount.groupby('company').agg({'order total': 'sum'})
company_amount_rec.sort_values(by = 'order total', ascending = False, inplace = True)
company_amount_rec.rename(columns = {'order total': 'total purchased amount'}, inplace = True)
company_amount_rec.head(5)

            total purchased amount
company
Company59                 12790.69
Company343                 4987.50
Company17                  3680.00
Company281                 3061.96
Company145                 2775.98

**Top five companies with maximum purchase by quantity is shown above.**

**Pull the columns needed to find the most selling products.**

In [55]:
volume = rec[['product id','product name', 'quantity']]
volume.head()

,product id,product name,quantity
0,2310.0,"Basic Rollators, Green 1Each/Each",1
1,177.0,"Urinary Drain Bags,0.000 1Each/Each",4
2,1.0,"SensiCare Nitrile Exam Gloves, Blue, XX-Large 800Each/Case",1
3,983.0,Basket for 2-Button Walkers 1Each/Each,1
4,991.0,Tens Units 1Each/Each,1

In [56]:
volume_rec = volume.groupby('product id').agg({'product name': 'first', 'quantity': 'sum'})
volume_rec.sort_values(by = 'quantity', ascending = False, inplace = True)
volume_rec.rename(columns = {'quantity': 'total quantity'}, inplace = True)
volume_rec.head(5)

,product name,total quantity
product id,,
26213.0,TruTemp,500
1846.0,"Disposable Emergency Blanket, Gray, Not Applicable 10Each/Case",396
2107.0,"MoliCare Disposable Super Plus Briefs, Medium/Large 56Each/Case",228
1672.0,"2-Ply Tissue/Poly Professional Towels, White, Not Applicable 500Each/Case",220
1648.0,Sanitary Pads with Adhesive & Wings 288Each/Case,133

**Top five most selling products are shown above.**